.footer-addres {
    padding-left: 38px;
    margin-top: -33px;
}
.footer-icon {
    padding-left: 2px;
}
.retina-dropdown {
    width: 230px !important;
}
.section-padd {
    padding-top: 50px;
    padding-bottom: 50px;
}

.page-title-bg4 {
    background-image: url(../img/page-title/4.jpg);
}
.main-banner {
    height: 618px;
    position: relative;
    z-index: 1;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.cataract-li-img {
    flex: 0 0 15% !important;
    /* padding-left: 10px !important;
    padding-right: 10px !important; */
    text-align: center;
}
.set-skill {
    margin-top: 62px !important;
}
.setmap {
    width: 100%;
}
.single-footer-widget .departments-list li a:hover {
    color: #cecece;
}
.setfooter-widget .links-list li a:hover {
    color: #cecece;
}
.setlasik-li ul i {
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    border-radius: 70% 30% 30% 70% / 60% 40% 60% 40%;
    background-color: #d2f5e1;
    color: #19ce67;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: inline-block;
    font-size: 11px;
    position: relative;
    left: -3px;
    /* top: -2px; */
}
.setlasik-li ul i:hover {
    background-color: 19ce67;
    color: white;
}
.setlasik-li ul {
    list-style-type: none;
    padding-left: 9px;
    font-size: 14.5px;
    padding-bottom: 6px;
    padding-top: 15px;
}
.setlasik-li ul li {
    padding-bottom: 17px;
    padding-left: 39px;
    margin-top: -29px;
}

.fovia-nav .navbar .navbar-nav {
    font-family: "Poppins", sans-serif;
}
p {
    font-family: "Poppins", sans-serif;
}
.setappointment {
    margin-top: 36px;
}
.testimonial-video {
    padding-top: 30px;
}
.set-navphone {
    transform: rotate(97deg);
}
.setpadd-belowpara {
    padding: 2px;
}
.setlogo {
    width: 275px;
}
.set-color {
    color: #19ce67;
}
.setretinopathy {
    margin-top: 40px;
}
.overlay-video {
    display: none;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    opacity: 0;
    -ms-transition: opacity 600ms ease-in;
    transition: opacity 600ms ease-in;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 999999;
}

.o1 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    opacity: 1;
    -ms-transition: opacity 600ms ease-out;
    transition: opacity 600ms ease-out;
    -ms-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.videoWrapperExt {
    position: relative;
    top: 60%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    max-width: 982px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    height: 0;
}

.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 70%;
}

.close {
    background-image: url(../img/close-icon.png);
    position: absolute;
    top: -50px;
    right: 0px;
    cursor: pointer;
    z-index: 9999;
    height: 40px;
    width: 40px;
    background-size: 40px;
}

/* demo purpose */
.start {
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
    color: blue;
    text-transform: uppercase;
    cursor: pointer;
}

.video-btn {
    text-align: center;
    position: absolute;
    top: 110px;
    z-index: 2;
    width: 97%;
}
.play-icon {
    color: black;
}
.fab {
    line-height: 2;
}
.fas {
    line-height: 3;
}
.setup-icon {
    line-height: 2;
}
.contact-display {
    display: none;
}
.imggallery {
    padding: 13px;
}
.setoption {
    line-height: 3.5;
    color: gray;
}
.set-option-select {
    color: aqua;
}
.fovia-nav .navbar .navbar-nav .nav-item a {
    margin-left: 10px;
    margin-right: 6px;
}
.set-navbtn {
    margin-left: -34px;
}
.service-name-fab {
    line-height: 2px;
}
.contact-info-icon ul li {
    padding-left: 93px;
}
.fovia-nav .navbar .navbar-nav .nav-item .dropdown-menu li .dropdown-menu {
    left: 148px;
    top: 0;
    opacity: 0;
    visibility: hidden;
}
.fovia-nav .navbar .navbar-nav .nav-item .dropdown-menu {
    width: 200px;
}
.pigmentosa-li {
    margin-top: 30px;
    margin-bottom: -13px;
}
.whatsapp-nav {
    font-size: 18px !important;
}
.custom-navbar-brand {
    margin-right: 0px;
}
.fovia-nav .navbar .navbar-nav .nav-item a {
    font-size: 14.5px;
}
.faplus-height {
    line-height: 2.4;
}
/* .widget-area .widget_fovia_posts_thumb .item .thumb .fullimage.bg1 {
    background-image: url(../img/blog/1.jpg);
}
.widget-area .widget_fovia_posts_thumb .item .thumb .fullimage.bg2 {
    background-image: url(../img/blog/1.jpg);
}
.widget_fovia_posts_thumb .item .thumb .fullimage.bg3 {
    background-image: url(../img/blog/1.jpg) !important;
} */

.blog-image-fit {
    width: 75%;
    object-fit: cover;
    display: block;
    margin: auto;
}

.blog-card-img {
    object-fit: cover;
    height: 230px;
    width: 100%;
}
.popular-post-img {
    width: 100%;
    height: 80px;
    display: inline-block;
    background-size: cover !important;
    background-repeat: no-repeat;
    background-position: center center !important;
    object-fit: cover;
}

#more {
    display: none;
}
.js-more-btn {
    background: #19ce67 !important;
    color: #ffffff !important;
}
.js-more-btn i {
    position: absolute;
    right: 7px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-align: center;
    display: inline-block;
    height: 33px;
    width: 33px;
    line-height: 33px;
    color: #ffffff;
    border-radius: 50%;
    background-color: #8ee9b2;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.js-more-btn:focus {
    box-shadow: none;
}
.search-padd {
    padding-top: 95px;
}
.popular-post-title {
    font-size: 14px;
}
.h2-heading-custom {
    font-size: 34px !important;
    font-weight: 600 !important;
}

.blog-recent-posts-sticky {
    position: sticky;
    position: -webkit-sticky;
    top: 100px;
    height: 200%;
    margin-bottom: 50px;
}
.thankyou-check-icon {
    color: #19ce67;
    font-size: 48px;
    font-weight: 700;
}
.custom-jumbotron {
    margin-bottom: 0;
    background-color: #ffffff;
    border-radius: 0.3rem;
}
.desk-display-slider {
    display: block;
}
.mob-display-slider {
    display: none;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #19ce67;
}
.carousel-indicators li {
    background-color: #000000;
    opacity: 1;
}
.sitemap li {
    line-height: 2;
}
.post-content-overflow {
    overflow: auto;
}
.single-blog-post .post-content {
    height: 345px;
}
.page-title-area {
    height: 245px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.footer-btm-dislay {
    display: none;
}
.mobile-ml {
    margin-left: 10px;
}
.mob-a-pl {
    padding-left: 8px;
}
.mobile-lipadd {
    padding-top: 18px;
    padding-bottom: 12px;
}
.phone-rotate {
    transform: rotate(104deg);
}
.ptb-55 {
    padding-top: 55px;
    padding-bottom: 55px;
}
.sparkle-desk {
    display: block;
}
.sparkle-mob {
    display: none;
}
.max-w-sparkle {
    max-width: 90%;
}
.formimg-bg {
    color: #19ce67;
    margin-right: 4px;
    width: 28px;
    height: 28px;
    display: inline-block;
    line-height: 28px;
    border-radius: 50%;
    background-color: #def5ee;
    text-align: center;
    font-size: 13px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}
.faq-w {
    max-width: unset;
}
.faq-accordion .accordion .accordion-content {
    display: none;
    position: relative;
    padding: 15px;
    padding-left: 52px;
    font-size: 14.5px;
}
.fovia-nav .navbar .navbar-nav {
    margin-left: auto;
    margin-right: unset;
}
.nav-item-pl {
    padding-left: 19px !important;
}
.header-right-content .top-header-social li {
    margin-left: 10px;
}
@media (min-width: 1024px) and (max-width: 1280px) {
    .main-banner {
        height: 415px !important;
    }
}

/* ipad pro
@media  (max-width: 1024px){
    .main-banner {
        height: 415px !important;
    }
} */

/* ipad view */

@media only screen and (max-width: 991px) {
    .main-banner {
        height: fit-content;
        position: relative;
        z-index: 1;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .navcollapse-ipad {
        margin-top: 35px !important;
    }
    .mean-container a.meanmenu-reveal {
        padding-top: 22px;
    }
    .mobtop-header {
        display: none;
    }
    .contact-display {
        display: block;
    }
    .galleryipad {
        width: 343px;
    }
    .home-slides.owl-theme .owl-nav {
        left: 5px;
        right: unset;
    }
    .dry-eye-i {
        display: block !important;
    }
    .search-padd {
        padding-top: 0px;
        margin-top: -44px;
    }
}

/* mobile view */
@media (max-width: 767px) {
    .contact-list-mob {
        margin-left: -11px;
    }

    .faq-accordion .accordion .accordion-title i {
        position: absolute;
        left: 0;
        top: 10px;
        width: 45px;
        text-align: center;
        height: 100%;
        background: #d2f5e1;
        color: #19ce67;
        font-size: 14px;
        -webkit-transition: 0.5s;
        transition: 0.5s;
        height: 46px;
    }

    .setindexabbtn {
        margin-bottom: 20px;
    }
    .set-mobwhy {
        padding-bottom: 30px;
    }
    .why-vission {
        padding-top: 30px !important;
    }
    .cataract-li-img {
        flex: 1 0 26% !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .cataract-ul-img {
        text-align: center !important;
    }
    .main-banner {
        height: 618px;
        position: relative;
        z-index: 1;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .page-title-bg4 {
        background-image: url(../img/page-title/mob4.jpg);
    }
    .mean-container a.meanmenu-reveal {
        width: 35px;
        height: 30px;
        position: absolute;
        right: 0;
        cursor: pointer;
        color: #000000;
        text-decoration: none;
        font-size: 16px;
        text-indent: -9999em;
        line-height: 22px;
        font-size: 1px;
        display: block;
        font-weight: 700;
        padding-top: 12px;
    }
    .below-para {
        text-align: center;
    }
    .set-catarctsurgery {
        padding-top: 25px;
    }
    .setmoblogo {
        width: 63% !important;
    }
    .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .videoWrapperExt {
        position: relative;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        max-width: 982px;
        padding: 0 20px;
    }
    .page-title-area {
        height: 300px;
        padding-top: 70px;
        padding-bottom: 70px;
    }
    .fab {
        line-height: 2;
    }
    .ulcerskill-desk {
        margin-bottom: 0px;
    }
    .dry-eye-li {
        text-align: left;
        margin-bottom: 0px;
    }
    .navcollapse-ipad {
        margin-top: 11px !important;
    }
    .contact-display {
        display: block;
    }
    .imggallery {
        padding: 13px;
        width: 100%;
    }
    .mobtop-header {
        display: block;
    }
    .mob-top-socailicon {
        display: none;
    }
    .ptosis-li {
        text-align: left;
    }
    .setptosis-margin {
        margin-top: 8px !important;
    }
    .squint-video-mob {
        padding-top: 0px;
    }
    .mob-nav-number {
        margin-right: 2px !important;
        margin-left: 2px !important;
    }
    .top-header {
        padding-top: 13px;
        padding-bottom: 8px;
    }
    .search-padd {
        padding-top: 0px;
        margin-top: -44px;
    }
    .desk-display-slider {
        display: none;
    }
    .mob-display-slider {
        display: block;
        height: 700px;
    }
    .single-blog-post .post-content {
        height: unset;
    }
    .thankyou-font {
        font-size: 3.5rem;
    }
    .nav-height {
        height: 260px !important;
    }
    .top-ico {
        top: 86% !important;
        z-index: 99;
    }
    .copyright-pb {
        padding-bottom: 130px;
    }
    .footer-btm-dislay {
        display: block;
    }
    .fix-footer-btm {
        position: fixed;
        bottom: 0;
        background: #4a69c3;
        width: 100%;
        text-align: center;
        z-index: 99;
    }
    .contact-ul-btm {
        display: flex;
        list-style: none;
        padding-left: 0px;
        /* text-align: center; */
        margin-bottom: 0px;
    }
    .mobile-btm {
        padding-top: 5px;
        width: 27px;
    }
    .whatsp-btm {
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .footer-boder-btm {
        border-top-left-radius: 14px;
        border-top-right-radius: 14px;
    }
    .call-btm {
        padding-top: 2px;
        padding-bottom: 0px;
    }
    .contact-li-btm {
        padding-left: 55px;
        padding-right: 55px;
    }
    .form-btm {
        width: 25px;
        padding-top: 5px;
    }
    .br-right-foo {
        border: 1px solid white;
        /* height: 66px; */
    }
    .br-left-foo {
        border-left: 2px solid white;
        /* height: 50px; */
    }
    .wa-li-btm {
        padding-left: 34px;
        padding-right: 30px;
        padding-top: 5px;
        border-right: 2px solid white;
        /* height: 50px; */
    }
    .set-col-4 {
        flex: 2 0 33.333333%;
        max-width: 37.333333%;
    }
    .br-right {
        border-right: 2px solid white;
    }
    .pt-li-wa {
        padding-top: 5px;
    }
    .phone-pl {
        padding-left: 15px;
    }
    .sparkle-desk {
        display: none;
    }
    .sparkle-mob {
        display: block;
    }
    .max-w-sparkle {
        max-width: 100%;
    }
    .wimg-mob-spark {
        width: 90%;
    }
    .form-dis-li {
        display: none !important;
    }
    .faq-pb {
        padding-bottom: 65px !important;
    }
    .nav-item-pl {
        padding-left: 0px !important;
    }
}
/* @media (max-width: 375px) {
    .wa-li-btm{
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        border-right: 2px solid white;
        height: 50px;
    }
    .contact-li-btm{
        padding-left: 40px;
        padding-right: 40px;
    }
} */

/* iPhone 6 7 8 portrait */
@media only screen and (max-width: 377px) {
    .wa-li-btm {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        border-right: 2px solid white;
        /* height: 50px; */
    }
    .contact-li-btm {
        padding-left: 45px;
        padding-right: 45px;
    }
}
/* Galaxy portrait */
@media only screen and (max-width: 360px) {
    .wa-li-btm {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 5px;
        border-right: 2px solid white;
        /* height: 50px; */
    }
    .contact-li-btm {
        padding-left: 40px;
        padding-right: 40px;
    }
}
.review-card {
    max-width: 10em;
}
.google-review-box {
    background-color: white;
    display: flex;
    flex-direction: column;
    outline: 2px solid gray;
    border-radius: 0.5em;
    width: 300px;
    margin: auto;
    cursor: pointer;
    box-shadow: 0px 6px 15px 0px #0000002e;
    transition: all 0.3s ease-in-out;
}
.google-review-box:hover {
    transform: translateY(8px);
    transform: scale(1.05);
}
.google-review-box img {
    width: 100px;
    padding: 0.8em;
}
.google-review-box .stars {
    color: #ffd000;
    line-height: 1em;
    font-size: 1.5em;
}
.google-review-box .stars .fas {
    line-height: 2;
}

.google-review-box .stats strong {
    font-size: 1.5em;
    font-weight: 500;
}
.google-review-box .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8em;
}
.google-review-box div.review-footer {
    background-color: #4a69c3;
    color: white !important;
    text-align: center;
    padding: 0.3em;
    border-radius: 0px 0px 0.5em 0.5em;
}
.google-review-box .review-main {
    display: flex;
}
#instagram-grid > div.col {
    padding-right: 5px;
    padding-left: 5px;
}
#instagram-grid img {
    max-width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    margin-bottom: 10px;
}

.h-fit-content {
    height: fit-content !important;
}
.flex-wrap {
    flex-wrap: wrap !important;
}
